*,*::before, *::after{
	font-family: sans-serif;
	font-weight:bolder;
	box-sizing: border-box;
}

body{
	padding:0;
	margin:0px;
	background:linear-gradient(to right,#ff3568,#ff5634);
}
.calculator-grid{
	display:grid;
	justify-content: center;
	align-content:center;
	min-height:100vh;
	grid-template-columns: repeat(4,70px); 
	grid-template-rows: minmax(120px,auto) repeat(5,70px); 
	border-radius: 50px;
}
button:hover{
	cursor:pointer;
	background: white;
	transform: scale(1.1);
}
.output{
	display:grid;
	justify-content: right;
	grid-column: 1/-1;
	background-color: black;
	color:white;
}